# Python / FastAPI
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual Environment
.venv/
env/
venv/

# IDE / Editor files
.vscode/
.idea/
.DS_Store

# Environment variables
.env
*.env

# Compiled files / caches
*.egg-info/
*.pytest_cache/

# Docker / build cache
*.pid
*.tar
*.bak
*.swp
*.tmp

# Local backups
backup_*.db
